<?php

namespace App\Http\Controllers\Api\Mobile\References;

use App\Http\Controllers\Api\ApiController;
use App\Traits\ApiResponder;

class NewsController extends ApiController
{
    use ApiResponder;

    public function index()
    {

    }
}
