<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="intro">
          <ion-text color="primary">
            <h1>Absensi</h1>
          </ion-text>
          <ion-text>
            <h5>Hai Ungke Sekay, Selamat Pagi.</h5>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="avatar">
          <ion-img
            src="assets/images/absensi_159x159.png"
            alt="absensi-logo"
          ></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="presence">
    <ion-card-header class="presence-header">
      <div class="current-day">
        🗓️ Hari ini • 26 Maret 2023
      </div>
      <div class="schedule">
        ⏱  08:00 - 17:00
      </div>
    </ion-card-header>

    <ion-card-content class="presence-content">
      <div class="presence-data">
        <ion-button disabled>
          <div class="presence-time">
            ✅
            <div class="presence-time-status">
              <h5>Masuk</h5>
              <p>07:59</p>
            </div>
          </div>
        </ion-button>
        <ion-button>
          <div class="presence-time">
            ❌
            <div class="presence-time-status">
              <h5>Keluar</h5>
              <p>-</p>
            </div>
          </div>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="submission ion-margin-top">
    <ion-card-content class="submission-content">
      <h5>Izin</h5>
      <p>
        Kirim permintaan izin Anda dengan mudah menggunakan sistem manajemen cuti intuitif kami.
      </p>
      <ion-button class="ion-margin-top" expand="block">
        Ajukan
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Activity Histories</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    <ion-item [button]="true" detail="false">
      <div class="indicator-wrapper" slot="start">
        <div class="indicator overdue"></div>
      </div>
      <ion-label>
        <strong>26 Jan 2023</strong>
        <ion-note color="medium" class="ion-text-wrap">
          Overdue: 08:15 (IN) - 17:00 (OUT)
        </ion-note>
      </ion-label>
    </ion-item>
    <ion-item [button]="true" detail="false">
      <div class="indicator-wrapper" slot="start">
        <div class="indicator leave"></div>
      </div>
      <ion-label>
        <strong>25 Jan 2023</strong>
        <ion-note color="medium" class="ion-text-wrap">
          Leave: have a meeting with client
        </ion-note>
      </ion-label>
    </ion-item>
    <ion-item [button]="true" detail="false">
      <div class="indicator-wrapper" slot="start">
        <div class="indicator ontime"></div>
      </div>
      <ion-label>
        <strong>24 Jan 2023</strong>
        <ion-note color="medium" class="ion-text-wrap">
          On Time: 07:15 (IN) - 17:00 (OUT)
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
